@import "tailwindcss";/* You can add global styles to this file, and also import other style files */
@import 'aos/dist/aos.css';


body{

  background:
  radial-gradient(circle at center, rgba(9,9,121,0.35), transparent 55%),
  linear-gradient(135deg, #000814, #020024, #000814);

}
*{
  font-family: 'Space Grotesk', sans-serif;
}


